<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="ROLL" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${log.file.path}.log" />
		<param name="MaxFileSize" value="100KB" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %t %c - %m%n" />
		</layout>
	</appender>
	<!-- Application Loggers -->
	<logger name="org.diveintojee">
		<level value="${org.diveintojee.log.level}" />
	</logger>
	<logger name="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<level value="${org.diveintojee.log.level}" />
	</logger>
	<logger name="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
		<level value="${org.diveintojee.log.level}" />
	</logger>
	<logger name="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<level value="${org.diveintojee.log.level}" />
	</logger>
	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="ROLL" />
	</root>

</log4j:configuration>
